<%- include('components/header', { title: 'DevLink - Home', user: user }) %>
<main class="px-3 my-auto text-center">
    <h1 class="text-undelrine">DevLink</h1>
    <p class="lead text-center mx-auto w-50">DevLink links developers across the world, find programmers near you with the skills you need, collaborate and work together with our chat system, and build awesome projects :D</p>
    <% if (user) { %>   
        <p class="lead text-center">
            <a href="/dashboard" class="btn btn-lg btn-secondary fw-bold border-white">Go to Dashboard</a>
        </p>
    <% } else { %>
        <p class="lead text-center">
            <a href="/auth/github" class="btn btn-lg btn-secondary fw-bold border-white">Sign In With Github</a>
        </p>
    <% } %>
</main>
</body>
</html>